<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>學生計算機年會 | Students' Information Technology Conference</title>
        <meta name="description" content="以學生為本、由學生自發舉辦，SITCON 學生計算機年會不只是學生「學以致用、教學相長」的實際展現，更冀望所有對資訊有興趣的學生，能夠在年會裏齊聚一堂，彼此激盪、傳承、啟發。">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta property="og:title" content="學生計算機年會">
        <meta property="og:type" content="website">
        <meta property="og:url" content="http://sitcon.org/2015/">
        <meta property="og:image" content="http://sitcon.org/2015/icon-2015-cfp.png">
        <meta property="og:site_name" content="學生計算機年會">
        <meta property="og:description" content="以學生為本、由學生自發舉辦，SITCON 學生計算機年會不只是學生「學以致用、教學相長」的實際展現，更冀望所有對資訊有興趣的學生，能夠在年會裏齊聚一堂，彼此激盪、傳承、啟發。">

        <meta property="twitter:title" content="學生計算機年會">
        <meta property="twitter:description" content="以學生為本、由學生自發舉辦，SITCON 學生計算機年會不只是學生「學以致用、教學相長」的實際展現，更冀望所有對資訊有興趣的學生，能夠在年會裏齊聚一堂，彼此激盪、傳承、啟發。">
        <meta property="twitter:image:src" content="http://sitcon.org/2015/icon-2015-cfp.png">
        <meta property="twitter:image:width" content="256">
        <meta property="twitter:image:height" content="256">

        <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
        <link rel="icon" href="favicon.ico" type="image/x-icon">

        <%= bower_script_tag "modernizr/modernizr.js" %>

        <%= stylesheet_link_tag "cfp" %>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="wrapper">
          <%= yield %>
        </div>

        <%= livereload_js if ENV["RACK_ENV"] != "production" %>
        <%= bower_script_tag 'retina.js/dist/retina.min.js' %>
        <%= javascript_include_tag "app" %>
        <%= render "analytics" if config['analytics'] %>
    </body>
</html>
